body{
    background-color: rgb(14, 14, 14);
    text-align: center;
}
h1{
    color: rgb(255, 166, 0);
    font-size: 35px;
}
h2{
    color: rgb(255, 189, 67);
    margin-top: -1rem;
    margin-bottom: 4rem;
    font-size: 30px;
}
.me_img{
    border-radius: 50%;
    margin-top: 5%;
    border: 6px solid white;
}
h4{
    color: white;
    font-size: 25px;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("includes/postazione3.jpg");
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 500px; 
}
.body_content{
    transform: translate(0% , 0%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border: none;
    background-color: rgb(21, 21, 21);
    font-size: 120%;
    width: 640px;
    margin-bottom: 2rem;
    color: orange;
    height: 80px;
    box-shadow: 2px 2px 8px 2px rgb(94, 94, 94);
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}
.about-description {
    background-color: rgb(34, 34, 34);
    box-shadow: 2px 2px 8px 2px rgb(94, 94, 94);
    color: rgb(186, 186, 186);
    width: 630px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    height: 0; 
    opacity: 0; 
    overflow: hidden; 
    transition: height 0.5s ease, opacity 0.5s ease; 
    font-size: 20px;
}
.contact,
.setup,
.coffee{
    width: 640px;
    background-color: rgb(21, 21, 21);
    margin-bottom: 2rem;
    height: 80px;
    text-decoration: none;
    color: orange;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 2px 2px 8px 2px rgb(94, 94, 94);
    border-radius: 10px;
}
.Instagram,
.Github{
    background-color: rgb(21, 21, 21);
    font-size: 120%;
    width: 640px;
    margin-bottom: 2rem;
    color: orange;
    box-shadow: 2px 2px 8px 2px rgb(94, 94, 94);
    border-radius: 10px;
}
.instagram,
.github{
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    color: orange;
    height: 80px;
}
.instagram img{
    margin-top: 1.3rem;
}
.instagram p{
    font-size: 25px;
    font-weight: bold;
    margin-left: 34%;
    margin-right: 0.5rem;
}
.github img{
    margin-top: 1rem;
}
.github p{
    font-size: 25px;
    font-weight: bold;
    margin-left: 38%;
    margin-right: 0.5rem;
}
.Instagram:hover,
.Github:hover,
.contact:hover,
.setup:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 767px) {

    .body_content h1{
        margin-top: 2rem;
        font-size: 30px;
    }
    .body_content h2{
        font-size: 25px;
    }
    .contact{
        font-size: 20px ;
    }
    .setup{
        font-size: 20px;
    }
    .container {
        align-items: center;  
    }
    .background{
        height: 300px;
    }
    .me_img{
        width: 100px;
        height: 100px;
        border-width: 2px;
    }
    .about{
        font-size: 16px;
    }
    button,
    .about-description,
    .contact,
    .setup,
    .coffee,
    .Instagram,
    .Github {
        width: 80%; 
        margin-left: 0; 
    }

    button h3,
    .contact p,
    .setup p,
    .coffee p,
    .instagram p,
    .github p {
        text-align: center;
    }

    .Instagram,
    .Github {
        width: 80%;
        margin: 0 auto; 
        text-align: center;
        margin-bottom: 2rem;
    }
    .Instagram img,
    .Github img{
        width: 30px;
        height: 30px;
    }
    .Instagram p {
        margin-left: 25%;
        font-size: 20px;
        margin-top: 1.5rem;
    }
    .Github p {
        margin-left: 32%;
        font-size: 18px;
        margin-top: 1.5rem;
    }

    @media screen and (max-width: 349px) {
        .Instagram p{
            margin-left: 3rem; /* Reset margin for the text */
        }
        .Github p {
            margin-left: 3.5rem; /* Reset margin for the text */
        }
    }
}